/* Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General settings */

/* li style */

li {
    list-style: none;
}

/* Font */

html {
    font-family: sans-serif;
}

h2 {
    font-size: 2rem;
}

/* Buttons */

.blue-btn {
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 0.6rem;
}

.white-btn {
    text-decoration: none;
    color: black;
    background-color: white;
   padding: 0.5rem 2rem 0.5rem 2rem;
}

.btn {
    text-decoration: none;
    color: black;
    background-color: white;
   padding: 0.5rem 2rem 0.5rem 2rem;
   border: 1px solid black;
}

/* Header */
header {
    /* max-width: 100; */
    background-color: #b4d0e7;
    position: relative;
    margin: auto;
}

/* Nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 50px;
    background-color: white;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav li,
a {
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

/* Jumbo */

.jumbo {
    padding-top: 80px;
    max-width: 1000px;
    height: 550px;
    margin: auto;
    margin-bottom: 100px;
}

.jumbo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: left;
    font-size: 65px;
    margin-bottom: 40px;
}

.jumbo-img {
    width: 60%;
    aspect-ratio: 16/9;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.column-left p,
.column-left a,
.column-left span {
    margin-bottom: 30px;
}

.fa-arrow-down {
    font-size: 30px;
    color: black;
}

/* Main */

main {
    max-width: 1920px;
    margin: auto;
}

/* Plans */

.plans {
    max-width: 1000px;
    margin: auto;
}

.plans h2 {
    margin-bottom: 4rem;
}

.plans-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 4rem;
}

.plans-details * {
    margin-bottom: 2rem;
}

.plan-type {
    border: 1px solid black;
    text-align: center;
}

.plans-flex .details {
    border: 1px solid black;
    max-width: calc(100%/3);
}

.enterprice {
    border: 1px solid black;
    max-width: 100%;
}

/* Find a partner */

.find-a-partner {
    width: 1000px;
    margin: auto;
}

.partner-flex {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.partner-flex > div {
    width: 100%;
    height: 500px;

}

.partner-left {
    flex: 0 0 70%;
}

.partner-left > img {
    max-width: 100%;
    height: 100%;
}

.partner-right {
padding-top: 2rem;
flex: 0 0 30%;
}

.partner-right h3,
.partner-right p{
    padding-bottom: 2rem;
} 

/* Business Features */

.business-features {
    width: 1000px;
    margin: auto;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.feature {
    max-width: calc((100% - 4rem) / 3);
}

.feature img{
    max-width: 100%;   
}

.feature h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.feature p {
    font-weight: lighter;
    margin-bottom: 2rem;
}

/* Business Team */

.business-team {
    width: 100%;
    height: auto;
}

.container-up {
    width: 1000px;
    height: 250px;
    margin: auto;
}

.container-up h2 {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-down {
    display: flex;
}

.container-down > div{
    width: calc(100%/3);
    aspect-ratio: 1 / 1;
}

.box-left,
.box-right {
    display: flex;
    flex-wrap: wrap;
}

.box-left .box,
.box-right .box {
    flex: 0 0 50%; 
    position: relative;
}

 .box img {
    filter: invert(1);
    width: 10rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.a {
    background-color: #A2D39B;
}

.b {
    background-color: #61082B;
}

.c {
    background-color: #0093CE;
}

.d {
    background-color: #FF1C1C;
}

.e {
    background-color: #F5F5F5;
}

.f {
    background-color: #D5001F;
}

.g {
    background-color: #B4D0E7;
}

.h {
    background-color: #0D2481;
}

.i {
    background-color: #FFD830;
}

.box-center {
    padding: 3rem 3rem 3rem 3rem;
}

.box-center img {
    height: 100px;
    margin-bottom: 2rem;
}

.box-center p,
.box-center span {
    font-weight: lighter;
    margin-bottom: 2rem;
}

.box-center p::before {
    content: "";
    display: block;
    width: 120px;
    height:50px;
    border-top: 1px solid #999999;

}

.box:hover {
    box-shadow: inset 0 0 0 12px #ffffff8d;
}

/* Free Trial */

.free-trial {
    width: 100%;
    height: 360px;
    background-color: #B4D0E7;
}

.free-trial .container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.free-trial h2 {
    color: #61082B;
    flex: 0 0 40%;
}

/* F.A.Q. */

.faq {
    width: 1000px;
    height: 700px;
    margin: auto;
}

.faq h2 {
    padding-top: 10rem;
    margin-bottom: 4rem;
}

.question::before {
    content: "";
    display: block;
    width: 100%;
    height:2rem;
    border-top: 1px solid black;
}

.question {
    margin-bottom: 2rem;
    flex-grow: 1;
}

.faq:last-child::after {
    content: "";
    display: block;
    width: 100%;
    height:2rem;
    border-top: 1px solid black;
}

/* Footer */

footer {
    background-color: black;
    color: white;
}

.footer-container {
    width: 1200px;
    margin: auto;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-nav li:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-nav li {
    font-weight: lighter;
    margin-bottom: 0.75rem;
}

.language::before {
    content: "";
    display: block;
    width: 120px;
    height:50px;
    border-top: 1px solid #999999;
}

.language {
  padding-bottom: 30px;
  color: #999999;
}