/* Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General settings */

/* Flex */

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.jumbo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* li style */

li {
    list-style: none;
}

/* Font */

h1 {
    text-align: left;
    font-size: 70px;
}

/* Header */

/* Jumbo */

.jumbo-img {
    width: 60%;
    aspect-ratio: 16/9;
}